@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap');
$text-color: #121212;
body,
html {
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    height: 100vh;
    width: 100vw;
}

#container {
    width: 1440px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 96px;
}

img {
    width: 505px;
    height: 330px;
    margin-right: 95px;
}

main {
    width: 380px;
    height: 250px;
}

h1 {
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    color: $text-color;
}

p {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $text-color;
}

button {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 16px 40px;
    width: 128px;
    height: 48px;
    background: #E4C1AE;
    border-radius: 32px;
    border: none;
}

#button-text {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.alert {
    top: 0;
    bottom: 0;
    width: 100vw;
    position: absolute;
    background: rgba($color: #121212, $alpha: 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

svg {
    position: relative;
    left: 868px;
    top: 40px;
}

#box {
    width: 920px;
    height: 210px;
    background: rgba($color: #FFFFFF, $alpha: 1);
}

#box h1 {
    position: absolute;
    left: calc(50% - 380px/2 - 175px);
    top: calc(50% - 50px - 24px);
}

#box p {
    position: absolute;
    left: calc(50% - 380px/2 - 175px);
    top: calc(50% - 24px + 37px);
}

#reset {
    align-items: center;
    justify-content: center;
    display: none;
    padding: 16px 40px;
    width: 128px;
    height: 48px;
    background: #E4C1AE;
    border-radius: 32px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    left: 756px;
    top: calc(50% - 24px + 37px);
}